@import "fonts.css";

:root {
  --dark-blue: #0d2e4d;
  --blue: #164573; /* Primary color; */
  --hover: #2985cc;
  --dusty-blue: #5e7c9a;
  --dusty-blue-light: #93b0cd;
  --dusty-blue-lighter: #bbc8d7;
  --aqua: #4dc4d4; /* Secondary color; */
  --dusty-aqua: #d2dfe0;
  --dusty-aqua-light: #f3f7f7;
  --grey: #e5e5e5;
  --dark-grey: #a2a2a2;
  --status-light-red: #e18c8c;
  --status-red: #f24040; /* Error color; */
  --yellow: #fec315; /* Accent color; */
  --white: #fff;
  --black: #000;

  /* Fonts */
  --font-sans: "Lato", sans-serif;
  --font-serif: "Manus", serif;
}

*,
:before,
:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
  text-decoration: none;
}

nav a {
  text-decoration: none;
  padding: 1.5rem;
  padding-top: 2rem;
  background-color: var(--dark-blue);
  color: var(--dusty-aqua-light);
  font-family: var(--font-serif);
  font-size: 40px;
  justify-self: center;
}

nav {
  text-align: center;
  margin-top: 3rem;
  width: 100%;
}

nav a:hover {
  background-color: var(--hover);
}

body,
html {
  margin: 0;
  padding: 1.5rem;
  background-color: var(--blue);
}

body {
  font-family: var(--font-sans);
  background: var(--white);
  color: var(--blue);
}

select,
input {
  height: 1.5rem;
}

.wrapper {
  max-width: 800px;
  padding: 0 1rem;
  margin: 0 auto;
}

button {
  background-color: var(--blue);
  color: var(--dusty-aqua);
  padding: 0.5rem
}

button a {
  text-decoration: none;
  color: var(--dusty-aqua);
  font-weight: 700;
}

button:hover {
  background-color: var(--dusty-aqua-light);
  color: var(--blue);
}

button a:hover {
  color: var(--dark-blue)
}

form {
  font-family: var(--font-sans);
  margin-top: 2rem;
}

span {
  padding-top: 1rem
}

.thanks {
  text-align: center;
}

.intro {
  text-align: center;
}

#chosen {
  background-color: var(--blue);
  color: var(--dusty-aqua-light);
  padding: 1rem
}

#chosen button {
  border: 2px solid var(--dusty-aqua-light);
}

#chosen button:hover {
  color: var(--blue)
}