.headline {
  font-size: 3rem;
  font-family: var(--font-serif);
  text-align: center;
  font-weight: 400;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.content {
  padding: 1rem;
  background-color: var(--dusty-aqua-light);
  border: 1px solid var(--dusty-aqua);
  margin-bottom: 1rem;
}
.content :first-child {
  margin-top: 0;
}
.content :last-child {
  margin-bottom: 0;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2);
}

.card button {
  background-color: var(--dusty-aqua-light);
  color: #2985cc;
  font-size: large;
  border: solid;
  border-width: 3px;
}

.card button:hover,
.card button:active {
  background-color: #2985cc;
  color: var(--dusty-aqua-light);
  border: solid;
  border-width: 3px;
  border-color: #2985cc;
}

.button {
  text-decoration: none;
  color: white;
}
